name: "Continuous Integration - Generic"

on:
  workflow_call:
    inputs:
      docker-image-repo:
        description: Docker image repository. Default -> GitHub repository owner/organisation.
        type: string
        required: false 
        default: ${{ github.repository_owner }}
      docker-image-name:
        description: Docker image name. Default -> GitHub repository name.
        type: string
        required: false
        default: ${{ github.event.repository.name }}
      version:
        type: string
        required: false
        description: Semvers string. If empty, the ref/tag will be used (if on.tag trigger).
        default: ''
      upload-sarif-to-security:
        type: boolean
        required: false
        description: Upload Sarif reports to Github Security dashboard
        default: false
      chekov-linter-enabled:
        type: boolean
        required: false
        description: Run Chekov Linter
        default: true
      run-frank-till-healthy-enabled:
        type: boolean
        required: false
        description: Run Frank till the health endpoints returns 'HEALTHY'
        default: true
    secrets:
      token:
        required: false
    outputs:
      image-id: 
        value: ${{ jobs.docker-ci.outputs.image-id }}
      image-digest: 
        value: ${{ jobs.docker-ci.outputs.image-digest }}
      image-metadata: 
        value: ${{ jobs.docker-ci.outputs.image-metadata }}


jobs:
  update-buildinfo:
    runs-on: ubuntu-latest
    permissions:
      contents: read    
    steps:
    - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        disable-sudo: true
        egress-policy: audit
        allowed-endpoints: >
          github.com:443

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1

    - name: Update Instance BuildInfo.properties
      uses: wearefrank/ci-cd-templates/update-buildinfo@main
      with:
        path: src/main/resources/BuildInfo.properties
        version: ${{ inputs.version }}

    - name: Upload Instance BuildInfo.properties
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #5.0.0
      with:
        name: pre-build-instance-buildinfo
        path: ./*/main/resources/BuildInfo.properties
        retention-days: 1

  docker-ci:
    uses: wearefrank/ci-cd-templates/.github/workflows/docker-ci-generic.yml@main
    needs: update-buildinfo
    secrets:
      token: ${{ secrets.token }}
    with:
      version: ${{ inputs.version }}
      docker-image-repo: ${{ inputs.docker-image-repo }}
      docker-image-name: ${{ inputs.docker-image-name }}
      upload-sarif-to-security: false
      chekov-linter-enabled: ${{ inputs.chekov-linter-enabled }}
      run-frank-till-healthy-enabled: ${{ inputs.run-frank-till-healthy-enabled }}

  