name: Continuous Integration

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  actionlinter:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
        
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #6.0.0

      - name: Lint GitHub Actions
        uses: docker://rhysd/actionlint:latest
        with:
          options: -v $(pwd):/repo --workdir /repo
          args: -color
