name: Continuous Integration

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  actionlinter:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
        
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1

      - name: Lint GitHub Actions
        uses: docker://rhysd/actionlint:latest
        with:
          options: -v $(pwd):/repo --workdir /repo
          args: -color
