name: "Docusaurus Release"

on:
  workflow_call:
    inputs:
      github-environment:
        description: GitHub environment name that should be used to deploy Docusaurus to. Default -> `github-pages`.
        type: string
        required: false
        default: 'github-pages'
      docusaurus-dir:
        description: (Sub)directory containing the root of the Docusaurus project. Default -> `./docusaurus`.
        type: string
        required: false
        default: './docusaurus'
    outputs:
      docusaurus-url: 
        value: ${{ jobs.publish.outputs.docusaurus-url }}

jobs:
  publish:
    environment:
      name: ${{ inputs.github-environment }}
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    outputs:
      docusaurus-url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set Up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: ${{ inputs.docusaurus-dir }}/package-lock.json

      - name: Install Dependencies
        run: cd ${{ inputs.docusaurus-dir }} && npm install --frozen-lockfile --non-interactive

      - name: Build
        run: cd ${{ inputs.docusaurus-dir }} && npm run build

      - name: Configure GitHub Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ${{ inputs.docusaurus-dir }}/build

      - name: Deploy To GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
